/.gradle
/.idea
/build
/eossdk/build
/eossdk-example/build
/tools
/eossdk-example/config/default.ini
/eossdk-native-ios/build
/eossdk-native-linux/build
/eossdk-native-windows/build
/eossdk-native-android/build
/local.properties
/build
/.PVS-Studio/ide-warnings.json
/.PVS-Studio/settings.json
